adf/pipeline/dedicatedpooltest.json
{
	"name": "dedicatedpooltest",
	"properties": {
		"activities": [
			{
				"name": "Resume Dedicated Pool",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(\n  'https://management.azure.com/subscriptions/',\n  linkedService().KeyVaultLS.getSecret('subscription-id'),\n  '/resourceGroups/<resource-group>/providers/Microsoft.Sql/servers/<synapse-server>/databases/<dedicated-pool>/resume?api-version=2021-02-01-preview'\n)\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Key Vault Secret",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://akv-endtoenddemo.vault.azure.net/subscription-id",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set Subscription ID Variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Key Vault Secret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_Subscription_Id_secret",
					"value": {
						"value": "@activity('Get Key Vault Secret').output",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"var_Subscription_Id_secret": {
				"type": "String"
			}
		},
		"annotations": []
	}
}