adf/pipeline/Dedicated Pool Pause.json
{
	"name": "Dedicated Pool Pause",
	"properties": {
		"activities": [
			{
				"name": "Get Dedicated SQL Pool Status",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": {
						"value": "@concat(\n  'https://management.azure.com/subscriptions/',\n  pipeline().parameters.param_subscription_id,\n  '/resourceGroups/rg-end-to-end-demo/',\n  'providers/Microsoft.Synapse/workspaces/synwendtoenddemo/',\n  'sqlpools/dspendtoenddemo',\n  '?api-version=2021-06-01'\n)",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com/"
					}
				}
			},
			{
				"name": "If Condition Paused",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Dedicated SQL Pool Status",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Dedicated SQL Pool Status').output.properties.status, 'Paused')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Pause Dedicated SQL Pool",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"headers": {
									"Content-Type": "application/json"
								},
								"url": {
									"value": "@concat(\n  'https://management.azure.com/subscriptions/',\n  pipeline().parameters.param_subscription_id,\n  '/resourceGroups/rg-end-to-end-demo/',\n  'providers/Microsoft.Synapse/workspaces/synwendtoenddemo/',\n  'sqlpools/dspendtoenddemo/',\n  'pause?api-version=2021-06-01'\n)",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://management.azure.com/"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Default - Wait",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"parameters": {
			"param_subscription_id": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Utilities"
		},
		"annotations": []
	}
}