adf/pipeline/Medallion_Load.json
{
	"name": "Medallion_Load",
	"properties": {
		"activities": [
			{
				"name": "Log Start - Bronze Load",
				"description": "",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Resume Dedicated SQL Pool",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Telemetry].[usp_LogPipelineEvent]",
					"storedProcedureParameters": {
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": "Medallion_Load",
							"type": "String"
						},
						"StageName": {
							"value": "Bronze",
							"type": "String"
						},
						"ActivityName": {
							"value": "Execute Bronze Load",
							"type": "String"
						},
						"EventType": {
							"value": "Begin",
							"type": "String"
						},
						"EventTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"DurationSec": {
							"value": null,
							"type": "Int64"
						},
						"RowsAffected": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "InProgress",
							"type": "String"
						},
						"Message": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASA_dspendtoenddemo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log End -Bronze Load - Success",
				"description": "",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Bronze Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Telemetry].[usp_LogPipelineEvent]",
					"storedProcedureParameters": {
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": "Medallion_Load",
							"type": "String"
						},
						"StageName": {
							"value": "Bronze",
							"type": "String"
						},
						"ActivityName": {
							"value": "Execute Bronze Load",
							"type": "String"
						},
						"EventType": {
							"value": "Success",
							"type": "String"
						},
						"EventTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"DurationSec": {
							"value": null,
							"type": "Int64"
						},
						"RowsAffected": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "Completed",
							"type": "String"
						},
						"Message": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASA_dspendtoenddemo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log End - Bronze Load - Fail",
				"description": "",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Bronze Load",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Telemetry].[usp_LogPipelineEvent]",
					"storedProcedureParameters": {
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": "Medallion_Load",
							"type": "String"
						},
						"StageName": {
							"value": "Bronze",
							"type": "String"
						},
						"ActivityName": {
							"value": "Execute Bronze Load",
							"type": "String"
						},
						"EventType": {
							"value": "Error",
							"type": "String"
						},
						"EventTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"DurationSec": {
							"value": null,
							"type": "Int64"
						},
						"RowsAffected": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "Failed",
							"type": "String"
						},
						"Message": {
							"value": {
								"value": "@string(\nactivity('Execute Bronze Load').output.errors[0].message\n)",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASA_dspendtoenddemo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Execute Bronze Load",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Log Start - Bronze Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Bronze_Load",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Log Start - Silver Load",
				"description": "",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Log End -Bronze Load - Success",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Telemetry].[usp_LogPipelineEvent]",
					"storedProcedureParameters": {
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": "Medallion_Load",
							"type": "String"
						},
						"StageName": {
							"value": "Silver",
							"type": "String"
						},
						"ActivityName": {
							"value": "Execute Silver Load",
							"type": "String"
						},
						"EventType": {
							"value": "Begin",
							"type": "String"
						},
						"EventTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"DurationSec": {
							"value": null,
							"type": "Int64"
						},
						"RowsAffected": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "InProgress",
							"type": "String"
						},
						"Message": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASA_dspendtoenddemo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log End - Silver Load - Success",
				"description": "",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Silver Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Telemetry].[usp_LogPipelineEvent]",
					"storedProcedureParameters": {
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": "Medallion_Load",
							"type": "String"
						},
						"StageName": {
							"value": "Silver",
							"type": "String"
						},
						"ActivityName": {
							"value": "Execute Silver Load",
							"type": "String"
						},
						"EventType": {
							"value": "Success",
							"type": "String"
						},
						"EventTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"DurationSec": {
							"value": null,
							"type": "Int64"
						},
						"RowsAffected": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "Completed",
							"type": "String"
						},
						"Message": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASA_dspendtoenddemo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log End - Silver Load - Fail",
				"description": "",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Silver Load",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Telemetry].[usp_LogPipelineEvent]",
					"storedProcedureParameters": {
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": "Medallion_Load",
							"type": "String"
						},
						"StageName": {
							"value": "Silver",
							"type": "String"
						},
						"ActivityName": {
							"value": "Execute Silver Load",
							"type": "String"
						},
						"EventType": {
							"value": "Error",
							"type": "String"
						},
						"EventTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"DurationSec": {
							"value": null,
							"type": "Int64"
						},
						"RowsAffected": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "Failed",
							"type": "String"
						},
						"Message": {
							"value": {
								"value": "@string(\nactivity('Execute Silver Load').output.errors[0].message\n)",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASA_dspendtoenddemo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Execute Silver Load",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Log Start - Silver Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Silver_Load",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"param_processStage": "Silver"
					}
				}
			},
			{
				"name": "Log Start - Gold Load",
				"description": "",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Log End - Silver Load - Success",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Telemetry].[usp_LogPipelineEvent]",
					"storedProcedureParameters": {
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": "Medallion_Load",
							"type": "String"
						},
						"StageName": {
							"value": "Gold",
							"type": "String"
						},
						"ActivityName": {
							"value": "Execute Gold Load",
							"type": "String"
						},
						"EventType": {
							"value": "Begin",
							"type": "String"
						},
						"EventTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"DurationSec": {
							"value": null,
							"type": "Int64"
						},
						"RowsAffected": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "InProgress",
							"type": "String"
						},
						"Message": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASA_dspendtoenddemo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log End - Gold Load - Success",
				"description": "",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Gold Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Telemetry].[usp_LogPipelineEvent]",
					"storedProcedureParameters": {
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": "Medallion_Load",
							"type": "String"
						},
						"StageName": {
							"value": "Gold",
							"type": "String"
						},
						"ActivityName": {
							"value": "Execute Gold Load",
							"type": "String"
						},
						"EventType": {
							"value": "Success",
							"type": "String"
						},
						"EventTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"DurationSec": {
							"value": null,
							"type": "Int64"
						},
						"RowsAffected": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "Completed",
							"type": "String"
						},
						"Message": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASA_dspendtoenddemo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log End - Gold Load - Fail",
				"description": "",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Gold Load",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Telemetry].[usp_LogPipelineEvent]",
					"storedProcedureParameters": {
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": "Medallion_Load",
							"type": "String"
						},
						"StageName": {
							"value": "Gold",
							"type": "String"
						},
						"ActivityName": {
							"value": "Execute Gold Load",
							"type": "String"
						},
						"EventType": {
							"value": "Error",
							"type": "String"
						},
						"EventTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"DurationSec": {
							"value": null,
							"type": "Int64"
						},
						"RowsAffected": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "Failed",
							"type": "String"
						},
						"Message": {
							"value": {
								"value": "@string(\nactivity('Execute Gold Load').output.errors[0].message\n)",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASA_dspendtoenddemo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Execute Gold Load",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Log Start - Gold Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Gold_Load",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Get Key Vault Secret",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://akv-endtoenddemo.vault.azure.net/secrets/subscription-id?api-version=7.5",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set Subscription ID Variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Key Vault Secret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_secret_subscription_id",
					"value": {
						"value": "@activity('Get Key Vault Secret').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Resume Dedicated SQL Pool",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set Subscription ID Variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": {
						"value": "@concat(\n  'https://management.azure.com/subscriptions/',\n  variables('var_secret_subscription_id'),\n  '/resourceGroups/rg-end-to-end-demo/',\n  'providers/Microsoft.Synapse/workspaces/synwendtoenddemo/',\n  'sqlpools/dspendtoenddemo/',\n  'resume?api-version=2021-06-01-preview'\n)",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com/"
					}
				}
			},
			{
				"name": "Pause Dedicated SQL Pool",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Log End - Gold Load - Success",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Execute Gold Load",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "Execute Silver Load",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "Execute Bronze Load",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": {
						"value": "@concat(\n  'https://management.azure.com/subscriptions/',\n  variables('var_secret_subscription_id'),\n  '/resourceGroups/rg-end-to-end-demo/',\n  'providers/Microsoft.Synapse/workspaces/synwendtoenddemo/',\n  'sqlpools/dspendtoenddemo/',\n  'pause?api-version=2021-06-01-preview'\n)",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com/"
					}
				}
			}
		],
		"variables": {
			"var_debug": {
				"type": "String"
			},
			"var_secret_subscription_id": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Medallion"
		},
		"annotations": [],
		"lastPublishTime": "2025-05-22T18:05:56Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}