adf/pipeline/Silver_Load.json
{
	"name": "Silver_Load",
	"properties": {
		"activities": [
			{
				"name": "LookupTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@concat(\n'SELECT TABLE_NAME ',\n'FROM   INFORMATION_SCHEMA.TABLES ',\n'WHERE  TABLE_SCHEMA = ''',\npipeline().parameters.param_processStage,\n''';'\n)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_dspendtoenddemo_Table",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupTables').output.value",
						"type": "Expression"
					},
					"batchCount": 1,
					"activities": [
						{
							"name": "Log Start",
							"description": "record when the Bronze load for a given file begins.",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Telemetry].[usp_LogPipelineEvent]",
								"storedProcedureParameters": {
									"PipelineRunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": "Silver_Load",
										"type": "String"
									},
									"StageName": {
										"value": {
											"value": "@concat('Load Silver - ', item().TABLE_NAME)",
											"type": "Expression"
										},
										"type": "String"
									},
									"ActivityName": {
										"value": "TransformToSilver",
										"type": "String"
									},
									"EventType": {
										"value": "Begin",
										"type": "String"
									},
									"EventTime": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"DurationSec": {
										"value": null,
										"type": "Int64"
									},
									"RowsAffected": {
										"value": null,
										"type": "Int64"
									},
									"Status": {
										"value": "InProgress",
										"type": "String"
									},
									"Message": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_ASA_dspendtoenddemo",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Log End - Success",
							"description": "record when the Silver load for a given SilverTable ends.",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Run Transform Get Affected Rows",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Telemetry].[usp_LogPipelineEvent]",
								"storedProcedureParameters": {
									"PipelineRunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": "Silver_Load",
										"type": "String"
									},
									"StageName": {
										"value": {
											"value": "@concat('Loaded to Silver - ', item().Table_Name)",
											"type": "Expression"
										},
										"type": "String"
									},
									"ActivityName": {
										"value": "TransformToSilver",
										"type": "String"
									},
									"EventType": {
										"value": "Success",
										"type": "String"
									},
									"EventTime": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"DurationSec": {
										"value": {
											"value": "@activity('Run Transform Get Affected Rows').output.firstRow.DurationSeconds",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"RowsAffected": {
										"value": {
											"value": "@activity('Run Transform Get Affected Rows').output.firstRow.RowsInserted",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"Status": {
										"value": "Completed",
										"type": "String"
									},
									"Message": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_ASA_dspendtoenddemo",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Log End - Fail",
							"description": "record when the Silver load for a given Bronze table ends with a failure.",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Run Transform Get Affected Rows",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Telemetry].[usp_LogPipelineEvent]",
								"storedProcedureParameters": {
									"PipelineRunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": "Silver_Load",
										"type": "String"
									},
									"StageName": {
										"value": {
											"value": "@concat('Failed to Load to Silver - ', item().TableName)",
											"type": "Expression"
										},
										"type": "String"
									},
									"ActivityName": {
										"value": "Run Transforms",
										"type": "String"
									},
									"EventType": {
										"value": "Error",
										"type": "String"
									},
									"EventTime": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"DurationSec": {
										"value": null,
										"type": "Int64"
									},
									"RowsAffected": {
										"value": null,
										"type": "Int64"
									},
									"Status": {
										"value": "Failed",
										"type": "String"
									},
									"Message": {
										"value": {
											"value": "@string(\nactivity('LookupTables').output.errors[0].message\n)",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_ASA_dspendtoenddemo",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Run Transform Get Affected Rows",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Log Start",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderQuery": {
										"value": "@concat(\n  'EXECUTE ',\npipeline().parameters.param_processStage,\n  '.usp_Load', \n  item().Table_Name\n)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_dspendtoenddemo_Table",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "Execute Instrumentation Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Instrumentation_Run",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"param_PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"param_PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"param_processStage": {
				"type": "string"
			}
		},
		"variables": {
			"var_DEBUG": {
				"type": "String"
			},
			"var_DEBUG2": {
				"type": "String"
			},
			"var_DEBUG3": {
				"type": "String"
			},
			"DEBUG-folderPath": {
				"type": "String"
			},
			"DEBUG-fileName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Medallion"
		},
		"annotations": [],
		"lastPublishTime": "2025-05-22T18:05:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}