data-factory/adfendtoenddemo/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfendtoenddemo"
		},
		"LS_ADLS_stendtoenddemo_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stendtoenddemo.dfs.core.windows.net/"
		},
		"LS_ASA_dspendtoenddemo_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "synwendtoenddemo.sql.azuresynapse.net"
		},
		"LS_ASA_dspendtoenddemo_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "dspendtoenddemo"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Control_Ingestion_Parent')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "List Source Folders",
						"description": "discovers the source directories (park-data, squirrel-data, visitor-log) without naming them.",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_Bronze_Root",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach Source Folder",
						"description": "process each source in isolation—simplifies logging and error handling.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter Folders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter Folders').output.Value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 1,
							"activities": [
								{
									"name": "Run ProcessFilder Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Control_Ingestion_ProcessFolder",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"param_folderName": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Filter Folders",
						"description": "ChildItems returns both files and folders; we only want folders at this level.",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "List Source Folders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('List Source Folders').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type, 'Folder')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"var_DEBUG": {
						"type": "String"
					},
					"DEBUG-folderPath": {
						"type": "String"
					},
					"DEBUG-fileName": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Bronze_Root')]",
				"[concat(variables('factoryId'), '/pipelines/Control_Ingestion_ProcessFolder')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Control_Ingestion_ProcessFolder')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get File List",
						"description": "dynamically points at source folder and lists all its CSVs for today’s run.",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_Bronze_Folder",
								"type": "DatasetReference",
								"parameters": {
									"param_folderPath": {
										"value": "@pipeline().parameters.param_folderName",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Filter Files",
						"description": "ensures only .csv files get processed (ignore any stray non‑CSV).",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get File List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get File List').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@and(\n  equals(item().type,'File'),\n  endsWith(item().name,'.csv')\n)\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach File",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter Files').output.value",
								"type": "Expression"
							},
							"batchCount": 1,
							"activities": [
								{
									"name": "Stored procedure Log File",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "Control.usp_InsertFileList",
										"storedProcedureParameters": {
											"FileName": {
												"value": {
													"value": "@item().name",
													"type": "Expression"
												},
												"type": "String"
											},
											"FileDateString": {
												"value": {
													"value": "@substring(\n  item().name,  \n  add(lastIndexOf(item().name, '-'), 1),  \n  8  \n)",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineName": {
												"value": "Bronze",
												"type": "String"
											},
											"EnqueueTime": {
												"value": {
													"value": "@utcNow()",
													"type": "Expression"
												},
												"type": "Datetime"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_ASA_dspendtoenddemo",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"param_folderName": {
						"type": "string"
					}
				},
				"variables": {
					"var_DEBUG": {
						"type": "String"
					},
					"var_DEBUG2": {
						"type": "String"
					},
					"var_DEBUG3": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Bronze_Folder')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_ASA_dspendtoenddemo')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Bronze_Folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "list the files within a specific sub‑folder",
				"linkedServiceName": {
					"referenceName": "LS_ADLS_stendtoenddemo",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"param_folderPath": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().param_folderPath",
							"type": "Expression"
						},
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\"",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "AreaName",
						"type": "String"
					},
					{
						"name": "AreaID",
						"type": "String"
					},
					{
						"name": "ParkName",
						"type": "String"
					},
					{
						"name": "ParkID",
						"type": "String"
					},
					{
						"name": "Date",
						"type": "String"
					},
					{
						"name": "StartTime",
						"type": "String"
					},
					{
						"name": "EndTime",
						"type": "String"
					},
					{
						"name": "TotalTime",
						"type": "String"
					},
					{
						"name": "ParkConditions",
						"type": "String"
					},
					{
						"name": "OtherAnimalSightings",
						"type": "String"
					},
					{
						"name": "Litter",
						"type": "String"
					},
					{
						"name": "TemperatureWeather",
						"type": "String"
					},
					{
						"name": "NumberSquirrels",
						"type": "String"
					},
					{
						"name": "SquirrelSighters",
						"type": "String"
					},
					{
						"name": "NumberSighters",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_stendtoenddemo')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Bronze_Root')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "only for a top‑level Get Metadata to discover folders",
				"linkedServiceName": {
					"referenceName": "LS_ADLS_stendtoenddemo",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_stendtoenddemo')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Control_Table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ASA_dspendtoenddemo",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"param_ControlTableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "Control",
					"table": {
						"value": "@dataset().param_ControlTableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ASA_dspendtoenddemo')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_stendtoenddemo')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_stendtoenddemo_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ASA_dspendtoenddemo')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"server": "[parameters('LS_ASA_dspendtoenddemo_properties_typeProperties_server')]",
					"database": "[parameters('LS_ASA_dspendtoenddemo_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SystemAssignedManagedIdentity"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_Load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup Pending Files",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "SELECT FileListId, FileName, 'bronze' as Pipeline\n  FROM Control.FileList\n WHERE Status='Pending' AND PipelineName='Bronze';\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_Control_Table",
								"type": "DatasetReference",
								"parameters": {
									"param_ControlTableName": "FileList"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Pending Source File",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup Pending Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Pending Files').output.value",
								"type": "Expression"
							},
							"batchCount": 1,
							"activities": [
								{
									"name": "Log Start",
									"description": "record when the Bronze load for a given file begins.",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[Telemetry].[usp_LogPipelineEvent]",
										"storedProcedureParameters": {
											"PipelineRunId": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineName": {
												"value": "Bronze_Load",
												"type": "String"
											},
											"StageName": {
												"value": {
													"value": "@concat('Loading to Bronze - ', item().FileName)",
													"type": "Expression"
												},
												"type": "String"
											},
											"ActivityName": {
												"value": "CopyToBronze",
												"type": "String"
											},
											"EventType": {
												"value": "Begin",
												"type": "String"
											},
											"EventTime": {
												"value": {
													"value": "@utcNow()",
													"type": "Expression"
												},
												"type": "Datetime"
											},
											"DurationSec": {
												"value": null,
												"type": "Int64"
											},
											"RowsAffected": {
												"value": null,
												"type": "Int64"
											},
											"Status": {
												"value": "InProgress",
												"type": "String"
											},
											"Message": {
												"value": null,
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_ASA_dspendtoenddemo",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Log End - Success",
									"description": "record when the Bronze load for a given file ends.",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy Src to Bronze Table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[Telemetry].[usp_LogPipelineEvent]",
										"storedProcedureParameters": {
											"PipelineRunId": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineName": {
												"value": "Bronze_Load",
												"type": "String"
											},
											"StageName": {
												"value": {
													"value": "@concat('Loaded to Bronze - ', item().FileName)",
													"type": "Expression"
												},
												"type": "String"
											},
											"ActivityName": {
												"value": "CopyToBronze",
												"type": "String"
											},
											"EventType": {
												"value": "Success",
												"type": "String"
											},
											"EventTime": {
												"value": {
													"value": "@utcNow()",
													"type": "Expression"
												},
												"type": "Datetime"
											},
											"DurationSec": {
												"value": {
													"value": "@activity('Copy Src to Bronze Table').output.copyDuration\n",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"RowsAffected": {
												"value": {
													"value": "@activity('Copy Src to Bronze Table').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Status": {
												"value": "Completed",
												"type": "String"
											},
											"Message": {
												"value": null,
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_ASA_dspendtoenddemo",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Log End - Fail",
									"description": "record when the Bronze load for a given file ends with a failure.",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy Src to Bronze Table",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[Telemetry].[usp_LogPipelineEvent]",
										"storedProcedureParameters": {
											"PipelineRunId": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineName": {
												"value": "Bronze_Load",
												"type": "String"
											},
											"StageName": {
												"value": {
													"value": "@concat('Failed to Load to Bronze - ', item().FileName)",
													"type": "Expression"
												},
												"type": "String"
											},
											"ActivityName": {
												"value": "CopyToBronze",
												"type": "String"
											},
											"EventType": {
												"value": "Error",
												"type": "String"
											},
											"EventTime": {
												"value": {
													"value": "@utcNow()",
													"type": "Expression"
												},
												"type": "Datetime"
											},
											"DurationSec": {
												"value": null,
												"type": "Int64"
											},
											"RowsAffected": {
												"value": null,
												"type": "Int64"
											},
											"Status": {
												"value": "Failed",
												"type": "String"
											},
											"Message": {
												"value": {
													"value": "@string(\n    activity('Copy Src to Bronze Table').output.errors[0].message\n)",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_ASA_dspendtoenddemo",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Lookup Bronze Table Name",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Log Start",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlDWSource",
											"sqlReaderQuery": "SELECT TableName\n  FROM Control.FolderTableMap\n WHERE FolderName = '@{substring(item().FileName,0,lastIndexOf(item().FileName,'-'))}'\n",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_Control_Table",
											"type": "DatasetReference",
											"parameters": {
												"param_ControlTableName": "FolderTableMap"
											}
										}
									}
								},
								{
									"name": "Mark Done",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "Log End - Success",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "LS_ASA_dspendtoenddemo",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "@concat(\n  'UPDATE Control.FileList SET Status=''Completed'', EndTime = SYSUTCDATETIME(), RowsProcessed = ',\n  string(activity('Copy Src to Bronze Table').output.rowsCopied),\n  ' WHERE FileListId = ',\n  string(item().FileListId),\n  ';'\n)\n",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								},
								{
									"name": "Mark Failed",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "Log End - Fail",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "LS_ASA_dspendtoenddemo",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "@concat(\n  'UPDATE Control.FileList SET Status=''Failed'', EndTime = SYSUTCDATETIME(), RowsProcessed = 0 WHERE FileListId = ',\n  string(item().FileListId),\n  ';'\n)\n",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								},
								{
									"name": "Copy Src to Bronze Table",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Lookup Bronze Table Name",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "SqlDWSink",
											"allowCopyCommand": true,
											"copyCommandSettings": {}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_Bronze_File",
											"type": "DatasetReference",
											"parameters": {
												"param_container": {
													"value": "@item().pipeline",
													"type": "Expression"
												},
												"param_directory": {
													"value": "@substring(item().FileName,0,lastIndexOf(item().FileName,'-'))",
													"type": "Expression"
												},
												"param_file": {
													"value": "@item().FileName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_SQL_Bronze",
											"type": "DatasetReference",
											"parameters": {
												"param_BronzeTableName": "@activity('Lookup Bronze Table Name').output.firstRow.TableName"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"var_DEBUG": {
						"type": "String"
					},
					"var_DEBUG2": {
						"type": "String"
					},
					"var_DEBUG3": {
						"type": "String"
					},
					"DEBUG-folderPath": {
						"type": "String"
					},
					"DEBUG-fileName": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Control_Table')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_ASA_dspendtoenddemo')]",
				"[concat(variables('factoryId'), '/datasets/DS_Bronze_File')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_Bronze')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_Bronze')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ASA_dspendtoenddemo",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"param_BronzeTableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "Bronze",
					"table": {
						"value": "@dataset().param_BronzeTableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ASA_dspendtoenddemo')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Bronze_File')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "list the files within a specific sub‑folder",
				"linkedServiceName": {
					"referenceName": "LS_ADLS_stendtoenddemo",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"param_container": {
						"type": "string"
					},
					"param_directory": {
						"type": "string"
					},
					"param_file": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().param_file",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().param_directory",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().param_container",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\"",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "AreaName",
						"type": "String"
					},
					{
						"name": "AreaID",
						"type": "String"
					},
					{
						"name": "ParkName",
						"type": "String"
					},
					{
						"name": "ParkID",
						"type": "String"
					},
					{
						"name": "Date",
						"type": "String"
					},
					{
						"name": "StartTime",
						"type": "String"
					},
					{
						"name": "EndTime",
						"type": "String"
					},
					{
						"name": "TotalTime",
						"type": "String"
					},
					{
						"name": "ParkConditions",
						"type": "String"
					},
					{
						"name": "OtherAnimalSightings",
						"type": "String"
					},
					{
						"name": "Litter",
						"type": "String"
					},
					{
						"name": "TemperatureWeather",
						"type": "String"
					},
					{
						"name": "NumberSquirrels",
						"type": "String"
					},
					{
						"name": "SquirrelSighters",
						"type": "String"
					},
					{
						"name": "NumberSighters",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_stendtoenddemo')]"
			]
		}
	]
}