data-factory/ARMTemplates/pipeline/Control_Ingestion_ProcessFolder.json
{
	"name": "Control_Ingestion_ProcessFolder",
	"properties": {
		"activities": [
			{
				"name": "Get File List",
				"description": "dynamically points at source folder and lists all its CSVs for today’s run.",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Bronze_Folder",
						"type": "DatasetReference",
						"parameters": {
							"param_folderPath": {
								"value": "@pipeline().parameters.param_folderName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter Files",
				"description": "ensures only .csv files get processed (ignore any stray non‑CSV).",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get File List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get File List').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(\n  equals(item().type,'File'),\n  endsWith(item().name,'.csv')\n)\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter Files').output.value",
						"type": "Expression"
					},
					"batchCount": 1,
					"activities": [
						{
							"name": "Stored procedure Log File",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "Control.usp_InsertFileList",
								"storedProcedureParameters": {
									"FileName": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									},
									"FileDateString": {
										"value": {
											"value": "@substring(\n  item().name,  \n  add(lastIndexOf(item().name, '-'), 1),  \n  8  \n)",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": "Bronze",
										"type": "String"
									},
									"EnqueueTime": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "Datetime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_ASA_dspendtoenddemo",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"param_folderName": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Control"
		},
		"annotations": []
	}
}