data-factory/ARMTemplates/pipeline/Gold_Load.json
{
	"name": "Gold_Load",
	"properties": {
		"description": "simply orchestrates the order",
		"activities": [
			{
				"name": "Log Start - Dim Load",
				"description": "",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Telemetry].[usp_LogPipelineEvent]",
					"storedProcedureParameters": {
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": "Gold_Load",
							"type": "String"
						},
						"StageName": {
							"value": "Gold",
							"type": "String"
						},
						"ActivityName": {
							"value": "Execute Dim Load",
							"type": "String"
						},
						"EventType": {
							"value": "Begin",
							"type": "String"
						},
						"EventTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"DurationSec": {
							"value": null,
							"type": "Int64"
						},
						"RowsAffected": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "InProgress",
							"type": "String"
						},
						"Message": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASA_dspendtoenddemo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log End - Dim Load - Success",
				"description": "",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Dim Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Telemetry].[usp_LogPipelineEvent]",
					"storedProcedureParameters": {
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": "Gold_Load",
							"type": "String"
						},
						"StageName": {
							"value": "Gold",
							"type": "String"
						},
						"ActivityName": {
							"value": "Execute Dim Load",
							"type": "String"
						},
						"EventType": {
							"value": "Success",
							"type": "String"
						},
						"EventTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"DurationSec": {
							"value": null,
							"type": "Int64"
						},
						"RowsAffected": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "Completed",
							"type": "String"
						},
						"Message": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASA_dspendtoenddemo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log End - Dim Load - Fail",
				"description": "",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Dim Load",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Telemetry].[usp_LogPipelineEvent]",
					"storedProcedureParameters": {
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": "Gold_Load",
							"type": "String"
						},
						"StageName": {
							"value": "Gold",
							"type": "String"
						},
						"ActivityName": {
							"value": "Execute Dim Load",
							"type": "String"
						},
						"EventType": {
							"value": "Error",
							"type": "String"
						},
						"EventTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"DurationSec": {
							"value": null,
							"type": "Int64"
						},
						"RowsAffected": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "Failed",
							"type": "String"
						},
						"Message": {
							"value": {
								"value": "@string(\nactivity('Execute Dim Load').output.errors[0].message\n)",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASA_dspendtoenddemo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Execute Dim Load",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Log Start - Dim Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Dim_Load",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Log Start - Fact Load",
				"description": "",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Log End - Dim Load - Success",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Telemetry].[usp_LogPipelineEvent]",
					"storedProcedureParameters": {
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": "Gold_Load",
							"type": "String"
						},
						"StageName": {
							"value": "Gold",
							"type": "String"
						},
						"ActivityName": {
							"value": "Execute Fact Load",
							"type": "String"
						},
						"EventType": {
							"value": "Begin",
							"type": "String"
						},
						"EventTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"DurationSec": {
							"value": null,
							"type": "Int64"
						},
						"RowsAffected": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "InProgress",
							"type": "String"
						},
						"Message": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASA_dspendtoenddemo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log End - Fact Load - Success",
				"description": "",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Fact Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Telemetry].[usp_LogPipelineEvent]",
					"storedProcedureParameters": {
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": "Gold_Load",
							"type": "String"
						},
						"StageName": {
							"value": "Gold",
							"type": "String"
						},
						"ActivityName": {
							"value": "Execute Fact Load",
							"type": "String"
						},
						"EventType": {
							"value": "Success",
							"type": "String"
						},
						"EventTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"DurationSec": {
							"value": null,
							"type": "Int64"
						},
						"RowsAffected": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "Completed",
							"type": "String"
						},
						"Message": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASA_dspendtoenddemo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log End - Fact Load - Fail",
				"description": "",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Fact Load",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Telemetry].[usp_LogPipelineEvent]",
					"storedProcedureParameters": {
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": "Gold_Load",
							"type": "String"
						},
						"StageName": {
							"value": "Gold",
							"type": "String"
						},
						"ActivityName": {
							"value": "Execute Fact Load",
							"type": "String"
						},
						"EventType": {
							"value": "Error",
							"type": "String"
						},
						"EventTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"DurationSec": {
							"value": null,
							"type": "Int64"
						},
						"RowsAffected": {
							"value": null,
							"type": "Int64"
						},
						"Status": {
							"value": "Failed",
							"type": "String"
						},
						"Message": {
							"value": {
								"value": "@string(\nactivity('Execute Fact Load').output.errors[0].message\n)",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASA_dspendtoenddemo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Execute Fact Load",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Log Start - Fact Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Fact_Load",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute Instrumentation Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Log End - Fact Load - Success",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Instrumentation_Run",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"param_PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"param_PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			}
		],
		"folder": {
			"name": "Medallion"
		},
		"annotations": []
	}
}